/* General, Reuseable Css */

ul {
  list-style-type: none;
}

:root {
  --main-fc: #0fe120;
  --main-bg: #012904;
  /* min-width: 470px; */
}

* {
  color: #0fe120;
  margin: 5px;
}

html
{
  background-color: #012904;
}
h1 {
  font-size: 50px;
  padding-bottom: 8px;
}


.mainContainer {
  border: 5px dashed var(--main-fc);
  padding: 5px;
  text-align: center;
  list-style-type: none;
}

.borderLeft {
  border-left: 5px solid var(--main-fc);
  
}

.borderBox{
  border: #0fe120 5px solid;
  height: fit-content;
  min-width: 32%
}

.borderBox2{
  border: #0fe120 5px solid;
  height: 800px;
  min-width: 32%
}

.flexThis {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  /* flex-direction: row; */
  /* justify-items: center; */

  /* align-items: end; */
  /* margin: auto; */
}


.ctxt {
  text-align: center;
}

/* Footers Css */

.footerFlex {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

/*ActivityList CSS specific*/

.draggableActivity {
  border: 5px outset var(--main-fc);
  border-radius: 50%;
  min-width: 150px;
  min-height: 150px;
  padding: 9px;
  font-size: 18px;
  cursor: move;
}

.activityText {
  padding: 20px;

}
.draggableActivity:hover {
  border-color: aliceblue;
  border: 5px inset var(--main-fc);
  background-color: rgb(76, 108, 59);
 
}

/* #position1{
  top: 55%;
  left: 25%
}

#position2{
  top: 25%;
  left: 15%
}

#position3{
  top: 25%;
  left: 22%
}

#position4{
  top: 35%;
  left: 5%
}

#position5{
  top: 35%;
  left: 13%
}

#position6{
  top: 35%;
  left: 26%
}

#position7{
  top: 48%;
  left: 4%
}

#position8{
  top: 40%;
  left: 60%
}
#position9{
  top: 40%;
  left: 60%
}
#position10{
  top: 40%;
  left: 60%
}
#position11{
  top: 40%;
  left: 60%
}
#position12{
  top: 40%;
  left: 60%
}
#position13{
  top: 40%;
  left: 60%
} */


/*Screen Responsive Code below*/

@media screen and (max-width: 999px) {
  .picFix2 {
    max-width: 250px;
  }
}

@media screen and (max-width: 800px) {
  /* .navContainer {
    flex: auto;
  } */



  .borderBox {
    height: fit-content;
  }
  .borderBox2 {
      display: none;
  }


  .draggableActivity {
  margin: auto 0;
  max-width: fill;
  }
  .flexThis {
    display: inline-block;
    flex-direction: none;
    /* flex-wrap: wrap; */
  }
}
