/* General, Reuseable Css */

* {
  color: var(--main-fc);
  margin: 5px;
}

:root {
  --main-fc: #e1e10d;
  --main-bg: black;
}

ul {
  list-style-type: none;
}

html {
  background-color: black;
}

h1 {
  font-size: 50px;
  padding-bottom: 8px;
}

.activityBoxes {
  border: var(--main-fc) 5px solid;
  height: 100%;
  min-height: 500px;
  min-width: 350px;
  flex-grow: 1;
}

.borderBox {
  border: var(--main-fc) 5px solid;
}

.ctxt {
  text-align: center;
}

.buttonColor {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: var(--main-fc);
  border: #012904;
  color: black;
  margin: auto;
}

.buttonColor:hover {
  cursor: pointer;
}

.flexThis {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.flexThis2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.flexThisList {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 35%;
  justify-content: center;
}

.mainContainer {
  border: 5px dashed var(--main-fc);
  padding: 2px;
  text-align: center;
  list-style-type: none;
  height: 100%;
  max-width: 95%;
  margin: auto
}

/* .menu {
  flex-basis: 20%; 
  min-height: 50px; 
} */

.pushRight {
  margin-left: 20px;
}

.row {
  flex-wrap: wrap;
}

.spacer {
  flex-basis: 20%;
}

.title {
  flex-basis: 45%;
}



/*ActivityList CSS specific*/

.cardHeaderFlex {
  display: flex;
  flex-direction: column;
  max-height: 240px;
}

.draggableActivity {
  border: 5px outset var(--main-fc);
  border-radius: 10%;
  min-width: 125px;
  min-height: 150px;
  max-width: 155px;
  font-size: 18px;
  cursor: move;
  background-color: var(--main-bg);
  /* flex-wrap: wrap; */
}

.activityText {
  padding: 6px;
  color: black;

}

.cardText {
  word-wrap: normal;
  pointer-events: none;
}

.draggableActivity:hover {
  border-color: aliceblue;
  border: 5px inset var(--main-fc);

  cursor: pointer;
}

.picFix {
  max-width: 80px;
  border-radius: 20px;
  min-height: 80px;
  touch-action: manipulation;
  pointer-events: none;
  margin: auto;
}

/* Footers Css */

.footerFlex {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

/*Screen Responsive Code below*/

@media screen and (max-width: 1500px) {
  .picFix2 {
    max-width: 200px;
  }
}

@media screen and (max-width: 999px) {
  .picFix2 {
    max-width: 250px;
  }
}

@media screen and (max-width: 800px) {
  .borderBox {
    height: fit-content;
  }

  .borderBox2 {
    display: none;
  }

  .draggableActivity {
    margin: auto 0;
    max-width: fill;
  }
  .flexThis {
    display: inline-block;
    flex-direction: column;
  }

  .picFix {
    max-width: 40px;
    border-radius: 80%;
    min-height: 40px;
  }
}
